{% extends 'base.html.twig' %}

{% block title %}Edit ExpenseCategory{% endblock %}

{% block body %}
    <h1>Edit ExpenseCategory</h1>

    {{ include('expense_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('expense_category_index') }}">back to list</a>

    {{ include('expense_category/_delete_form.html.twig') }}
{% endblock %}
