{% extends 'base.html.twig' %}

{% block title %}New ExpenseCategory{% endblock %}

{% block body %}
    <h1>Create new ExpenseCategory</h1>

    {{ include('expense_category/_form.html.twig') }}

    <a href="{{ path('expense_category_index') }}">back to list</a>
{% endblock %}
