{% extends 'base_login.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post" class="form-signin">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <img class="mb-4" src="{{ asset('logo.png') }}" alt="" width="300">
        <h1 class="h3 mb-3 font-weight-normal">Autentificare</h1>

        <label for="username" class="sr-only">Utilizator</label>
        <input type="text" value="{{ last_username }}" name="username" placeholder="Utilizator" id="username" class="form-control" required autofocus>

        <label for="password" class="sr-only">Parolă</label>
        <input type="password" name="password" placeholder="Parolă" id="password" class="form-control" required>

        <input type="hidden" name="_remember_me" value="on">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="btn btn btn-danger" type="submit">Intră</button>
    </form>
{% endblock %}
