{% extends 'base.html.twig' %}

{% block title %}Sold zilnic{% endblock %}

{% block body %}
    <h1>Sold recalculat <small class="text-muted">ultima lună</small></h1>

    <div class="card mb-3">
        <table class="table table-striped">
            <thead class="card-header card-header-table">
            <tr>
                <th>Ziua</th>
                <th>Cantitate veche</th>
                <th>Cantitate recalculată</th>
            </tr>
            </thead>
            <tbody>
            {% for b in balances %}
                <tr>
                    <td>{{ include('blocks/_date.html.twig', {'date': b.date}) }}</td>
                    <td>{{ b.amount|num_for }}</td>
                    <td>{{ b.recalculatedAmount|num_for }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
