body {
    background: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}

h1 small {font-size: 1.4rem;}
h1 small a {color: #787878}

.badge-bonuri, .badge-facturi {color: #fff;}
.badge-bonuri {background-color: #dc3545;}
.badge-facturi {background-color: #17a2b8;}
.provider-days .badge {margin-right: .3rem;}

.card {border: 1px solid rgb(107, 135, 160);}
.card .card-header {
    border-bottom: none;
    background: rgb(107, 135, 160);
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}
.bg-success .card-header {
    background-color: #28a745 !important;
}

/** Navbar */
.navbar form .form-contro::placeholder {color: #ccc;}
.navbar form .form-control {background: #7b7b7b4d; color: #ccc; border-color: #757575; width: 150px;}

/** Day summary */
#summary .list-group-item {flex: 1; padding: .75rem 1rem;}
#summary .list-group-item .total {display: block; font-weight: bold; font-size: 1.4rem;}
#summary .list-group-item .badge:hover {cursor: default}

/** Forms */
#provider_days div {display: inline-block; margin-right: 1rem;}
.table-form {width:100%;}
.table-form td {padding: .2em; border-top: none;}
.table-form td .form-group {margin-bottom: 0;}
.table-form tr {background: none !important;}
.selectize-input {min-height: 38px; padding: 8px 12px;}
.table-form .col-form-label {
    float: left;
    padding: 0;
    width: auto;
    margin-right: 10px;
}
#merchandise_paymentType { display: inline-block; }
#merchandise_isDebt .form-check, #merchandise_paymentType .form-check, #merchandise_vat .form-check {
    display: inline-block;
    margin-right: 1rem;
}
.form-check .form-check-input {margin-top: .2rem}
.card-header-table {font-size: .9rem;}
.card-header-table th {border: none;}

.pagination {
    justify-content: center;
}
