body {
    background: #f3f3f3;
}

.badge-bonuri, .badge-facturi {color: #fff;}
.badge-bonuri {background-color: #dc3545;}
.badge-facturi {background-color: #17a2b8;}

#summary .list-group-item {flex: 1}
#summary .list-group-item span {display: block; font-weight: bold; font-size: 1.4rem;}

.table-form {width:100%;}
.table-form td {padding: .2em}
.table-form td .form-group {margin-bottom: 0;}
.table-form tr {background: none !important;}

.selectize-input {min-height: 38px; padding: 8px 12px;}
