<div class="js-unverified card mb-3">
    <div class="card-header">Ieșiri diverse</div>

    <table class="table table-striped" style="border-top: none;">
        <thead>
        <tr>
            <th>Categoria</th>
            <th>Cantitate</th>
            <th>Notițe</th>
            {% if canModify %}<th></th>{% endif %}
        </tr>
        </thead>
        <tbody>
        {% for e in expenses %}
            {{ include('expense/_expense.html.twig') }}
        {% else %}
            <tr class="js-empty"><td colspan="4">Nu s-a găsit nici o ieșire.</td></tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="card-footer text-right">
        {% if showReview %}
            <button class="js-review btn btn-sm btn-success">
                <i class="fas fa-check"></i> verificat</button>
        {% endif %}

        {% if canModify %}
            <a class="js-add btn btn-sm btn-outline-primary"
               href="{{ path('expense_new', { 'date': currentDate|date('Y-m-d') }) }}">adaugă</a>
        {% endif %}
    </div>
</div>
