<div class="card mb-5">
    <div class="card-header">Ieșiri diverse</div>

    <table class="table table-striped" style="border-top: none;">
        <thead>
        <tr>
            <th>Categoria</th>
            <th>Cantitate</th>
            <th>Note</th>
            {% if canModify %}<th></th>{% endif %}
        </tr>
        </thead>
        <tbody>
        {% for e in expenses %}
            {{ include('expense/_expense.html.twig') }}
        {% else %}
            <tr class="js-empty"><td colspan="4">Nu s-a găsit nici o ieșire.</td></tr>
        {% endfor %}
        </tbody>
    </table>

    {% if canModify %}
        <div class="card-footer text-right">
            <a class="js-add btn btn-sm btn-outline-primary"
               href="{{ path('expense_new', { 'date': currentDate|date('Y-m-d') }) }}">adaugă</a>
        </div>
    {% endif %}
</div>
