<tr>
    <td>{{ d.name }}</td>
    <td style="width: 100px">{{ d.amount|num_for }}</td>
    {% if canModify %}
        <td style="width: 100px;">
            {{ include('blocks/_edit_button.html.twig', { href: path('debt_edit', {'id': d.id }) }) }}
            {{ include('blocks/_delete_button.html.twig', { route: 'debt_delete', 'id': d.id, item: 'datoria' }) }}
        </td>
    {% endif %}
</tr>
