<div class="card">
    <div class="card-header">Datorii diverse</div>

    {% if debts|length > 0 %}
        <table class="table table-striped" style="border-top: none;">
            <thead>
            <tr>
                <th>Nume</th>
                <th>Cantitate</th>
                {% if canModify %}<th></th>{% endif %}
            </tr>
            </thead>
            <tbody>
            {% for d in debts %}
                {{ include('debt/_debt.html.twig') }}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="card-body">Nu există nici o datorie.</p>
    {% endif %}

    {% if canModify %}
        <div class="card-footer text-right">
            <a class="js-add btn btn-sm btn-outline-primary"
               href="{{ path('debt_new', { 'date': currentDate|date('Y-m-d') }) }}">adaugă</a>
        </div>
    {% endif %}
</div>