<div class="card mb-5">
    <div class="card-header">Datorii diverse</div>

    <table class="table table-striped" style="border-top: none;">
        <thead>
        <tr>
            <th>Nume</th>
            <th>Cantitate</th>
            {% if canModify %}<th></th>{% endif %}
        </tr>
        </thead>
        <tbody>
        {% for d in debts %}
            {{ include('debt/_debt.html.twig') }}
        {% else %}
            <tr><td colspan="3">Nu există nici o datorie.</td></tr>
        {% endfor %}
        </tbody>
    </table>

    {% if canModify %}
        <div class="card-footer text-right">
            <a class="js-add btn btn-sm btn-outline-primary"
               href="{{ path('debt_new', { 'date': currentDate|date('Y-m-d') }) }}">adaugă</a>
        </div>
    {% endif %}
</div>
