<div class="card mb-5">
    <div class="card-header">Monetar</div>

    <table class="table table-striped" style="border-top: none;">
        <thead>
        <tr>
            <th>Cantitate</th>
            <th>Note</th>
            {% if canModify %}<th></th>{% endif %}
        </tr>
        </thead>
        <tbody>
        {% for m in money %}
            {{ include('money/_money.html.twig') }}
        {% else %}
            <tr><td colspan="3">Nici un monetar.</td></tr>
        {% endfor %}
        </tbody>
    </table>

    {% if canModify %}
        <div class="card-footer text-right">
            <a class="js-add btn btn-sm btn-outline-primary"
               href="{{ path('money_new', { 'date': currentDate|date('Y-m-d') }) }}">adaugă</a>
        </div>
    {% endif %}
</div>
