{% extends 'base.html.twig' %}

{% block title %}New Money{% endblock %}

{% block body %}
    <h1>Create new Money</h1>

    {{ include('money/_form.html.twig') }}

    <a href="{{ path('money_index') }}">back to list</a>
{% endblock %}
