{% extends 'base.html.twig' %}

{% block title %}Raport iesiri{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 1200px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper table { width: 100% }
        .example-wrapper table td { border: 1px solid #eaeaea; padding: 3px; }
    </style>

    <div class="example-wrapper">
        <h1>Raport iesiri</h1>

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Zi</th>
                {% for c in categories %}
                <th scope="col">{{ c.name }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for index, day in month.days %}
                <tr>
                    <th scope="row">{{ index }}</th>
                    {% for c in categories %}
                    <td>{{ day.categories[c.id] is defined ? day.categories[c.id]|number_format(2) : '–' }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
