{% extends 'base.html.twig' %}

{% block title %}Raport furnizori{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 1200px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper table { width: 100% }
        .example-wrapper table td { border: 1px solid #eaeaea; padding: 3px; }
    </style>

    <div class="example-wrapper">
        <h1>Raport vanzare lunar</h1>

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Zi</th>
                <th scope="col">Marfa facturi</th>
                <th scope="col">Marfa bonuri</th>
            </tr>
            </thead>
            <tbody>
            {% for index, day in month.days %}
                <tr>
                    <th scope="row">{{ index }}</th>
                    <td>{{ day.totalMerchandisePaymentsInvoice|number_format(2)|dash }}</td>
                    <td>{{ day.totalMerchandisePaymentsBill|number_format(2)|dash }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
