<div class="row">
    <div class="col-12">
        <ul id="summary" class="list-group list-group-horizontal w-100">
            <li class="list-group-item">Sold actual</li>
            <li class="list-group-item">Intrare marfa</li>
            <li class="list-group-item">Iesiri diverse</li>
            <li class="list-group-item">Marfa bonuri</li>
            <li class="list-group-item">Marfa facturi</li>
            <li class="list-group-item">Monetar</li>
            <li class="list-group-item">Bancnote</li>
            <li class="list-group-item">Z</li> {# TODO if end day #}
        </ul>
    </div>
</div>
