{% extends 'base.html.twig' %}

{% block title %}Raport lunar{% endblock %}

{% block body %}

    <style>
        .example-wrapper { margin: 1em auto; max-width: 1200px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper table { width: 100% }
        .example-wrapper table td { border: 1px solid #eaeaea; padding: 3px; }
    </style>

    <div class="example-wrapper">
        <h1>Raport lunar</h1>

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Luna</th>
                {% for c in categories %}
                    <th>{{ c.name }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for month in months %}
                <tr>
                    <th scope="row">{{ month }}</th>
                    {% for c in categories %}
                        <td>{{ merchandise[month] is defined ? merchandise[month][c.id]|number_format(2, '.', ' ') : '-' }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
