{% extends 'base.html.twig' %}

{% block title %}Foaia zilei{% endblock %}

{% block body %}
    {{ include('blocks/_day_header.html.twig', {date: currentDate}) }}

    <div class="row">
        <div class="col-6">
            <p>Iesiri diverse</p>
            <p>Monetar</p>
            <p>Datorii diverse</p>
        </div>
        <div class="col-6">
            {{ include('merchandise_payment/list.html.twig', { payments: transactions['payments'] }) }}
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            Furnizori pentru a bifa daca a dat comanda sau a facut plata
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            Intrare marfa
        </div>
    </div>

    {% if day and day.isToday and day.hasEnded == false %}
        <button class="btn btn-primary btn-lg">Închide ziua</button>
    {% endif %}
{% endblock %}
