{% extends 'base.html.twig' %}

{% block title %}Foaia zilei{% endblock %}

{% block body %}
    {{ include('blocks/_day_header.html.twig', {date: currentDate}) }}

    <h3>Transactions</h3>

    {# TODO arata buton sa inchizi ziua if today #}
{% endblock %}
