<h3>Intrare marfă
    <small>
        <a href="#providersMerchandise" class="text-muted" data-toggle="collapse"
           role="button" aria-expanded="false" aria-controls="providersMerchandise"
        >ascunde</a>
    </small>
</h3>

<div id="providersMerchandise" class="collapse show">
    {% if canModify %}
    <div class="mb-3">
        <button class="js-add-merchandise btn btn-outline-primary" type="button"
        data-route="{{ path('merchandise_new', {'includeProvider': 'true', 'date': currentDate|date('Y-m-d')}) }}">Adaugă la furnizor nou</button>

        <div class="collapse mt-3" id="merchandiseForm">
            <div class="card card-body"></div>
        </div>
    </div>
    {% endif %}


    {% for p in providers %}
        <div class="js-unverified card mb-2">
            <div class="card-header">{{ p.name }}</div>

            <table class="js-main table table-striped" style="border-top: none;">
                <thead>
                <tr>
                    <th style="width: 200px;">Categorie</th>
                    <th>Nume</th>
                    <th style="width: 120px;">Cantitate</th>
                    <th style="width: 150px;">Preț intrare</th>
                    <th style="width: 150px;">Preț ieșire</th>
                    {% if canModify %}<th></th>{% endif %}
                </tr>
                </thead>
                <tbody>
                {% for m in p.merchandises %}
                    {{ include('merchandise/_merchandise.html.twig') }}
                {% else %}
                    <tr class="js-empty"><td colspan="6">Nu s-a găsit nici o intrare de marfă.</td></tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="card-footer text-right">
                {% if showReview %}
                    <button class="js-review btn btn-sm btn-success">
                        <i class="fas fa-check"></i> verificat</button>
                {% endif %}

                {% if canModify %}
                    <a class="js-add btn btn-sm btn-outline-primary"
                       href="{{ path('merchandise_new', { 'date': currentDate|date('Y-m-d'), 'provider': p.id }) }}">adaugă</a>
                {% endif %}
            </div>
        </div>

    {% else %}
        <p>Nu s-a găsit nici o intrare de marfă.</p>
    {% endfor %}
</div>
