<div class="card">
    <div class="card-header">Intrare marfă</div>

    <table class="table table-striped" style="border-top: none;">
        <thead>
        <tr>
            <th>Furnizor</th>
            <th>Categorie</th>
            <th>Nume</th>
            <th>Cantitate</th>
            <th>Preț intrare</th>
            <th>Preț ieșire</th>
            {% if canModify %}<th></th>{% endif %}
        </tr>
        </thead>
        <tbody>
        {% for m in merchandises %}
            {{ include('merchandise/_merchandise.html.twig') }}
        {% else %}
            <tr class="js-empty"><td colspan="7">Nu s-a găsit nici o intrare de marfă.</td></tr>
        {% endfor %}
        </tbody>
    </table>
    {% if canModify %}
        <div class="card-footer text-right">
            <a class="js-add btn btn-sm btn-outline-primary"
               href="{{ path('merchandise_new', { 'date': currentDate|date('Y-m-d') }) }}">adaugă</a>
        </div>
    {% endif %}
</div>
