<tr>
    <td colspan="5">
        {{ form_start(form) }}

        {{ form_widget(form) }}

        <div class="text-right">
            <button class="js-save btn btn-sm btn-success"
                    data-href="{{ path('merchandise_payment_edit', {'id': payment.id, 'index': index }) }}">
                <i class="fas fa-check"></i> salvează
            </button>

            <button class="js-close btn btn-sm btn-outline-secondary">închide</button>
        </div>

        {{ form_end(form) }}
    </td>
</tr>