<div class="card">
    <div class="card-header">Marfă achitată</div>

    {% if payments|length > 0 %}
        <table class="table table-striped" style="border-top: none;">
            <thead>
            <tr>
                <th>Furnizor</th>
                <th>Plată</th>
                <th>Cantitate</th>
                {% if canModify %}<th></th>{% endif %}
            </tr>
            </thead>
            <tbody>
            {% for p in payments %}
                {{ include('merchandise_payment/_payment.html.twig', { index: loop.index }) }}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="card-body">Nu s-a achitat nici o marfă.</p>
    {% endif %}

    {% if canModify %}
        <div class="card-footer text-right">
            <a class="js-add btn btn-sm btn-outline-primary"
               href="{{ path('merchandise_payment_new', { 'date': currentDate|date('Y-m-d') }) }}">adaugă</a>
        </div>
    {% endif %}
</div>
